working/*
bin/*
*.bat
?.sh
*.kdev4
*.dbs
*.wad.b*
*.swp
*.ninja*
source/Headers/u_func.h
source/Headers/u_names.h
source/Headers/p_weapons.h
source/Headers/w_moninfo.h
source/Main/p_upgrinfo.c
source/Main/p_weaponinfo.c
gzdoom-crash.log
