working/*
bin/*
master/*
*.bat
?.sh
*.kdev4
*.dbs
*.wad.b*
*.swp
*.ninja*
source/include/u_func.h
source/include/u_names.h
source/include/p_weapons.h
source/include/w_moninfo.h
source/p_upgrinfo.c
source/p_weaponinfo.c
gzdoom-crash.log
