working/*
bin/*
master/*
tools/.build-cfg.rb
*.bat
?.sh
*.dbs
*.wad.b*
*.swp
*.ninja*
source/m_trie.c
source/m_trie.h
source/m_version.h
source/p_upgrinfo.c
source/p_weaponinfo.c
source/p_weaponinfo.h
source/u_func.h
source/u_names.h
gzdoom-crash.log
